<div class="text-center home">
  <h2>This is a simple guide on how to create session based authentication system</h2>
  <br/>
  <p>
    Please signup or login to test the app.
  <p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>
